* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;

  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
}

header {
  background-color: var(--color-accent);
  padding: 20px;
  text-align: center;
}
.hero {
  height: 100vh;
  width: 100%;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.vertical-left {
  position: fixed;
  left: 10px;
  top: 20px;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  rotate: 180deg;
  font-family: sans-serif;
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: white;
  z-index: 20;
}

.vertical-left.bottom {
  top: auto;
  bottom: 20px;
}

/* Logo central */
.hero-center .logo {
  font-family: Impact, sans-serif;
  font-size: 10rem;
  color: white;
  text-align: left;
  animation: colorChange 5s infinite;
}

@keyframes colorChange {
  0% {
    color: #640000;
  }
  25% {
    color: #741111;
  }
  50% {
    color: #97312a;
  }
  75% {
    color: #762222;
  }
  100% {
    color: #640000;
  }
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
h2 {
  position: relative;
  z-index: 2;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: var(--color-text);
  text-decoration: none;

  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--color-muted);
}

main {
  padding: 40px 20px;
}

section {
  margin-bottom: 60px;
  max-width: 800px;
  margin-inline: auto;
  text-align: center;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}

.polaroid {
  background-color: #5a1a15;
  padding: 12px 10px 15px;
  max-width: 220px;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 10px;
}

.polaroid:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #732828;
  color: white;
}

.polaroid img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 2px;
}

.polaroid-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.polaroid p {
  margin-top: 10px;
  color: white;
  font-weight: 600;
  font-family: "Helvetica", sans-serif;
  font-size: 0.95rem;
}

.menu-flecha {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: white;
  color: #5a1a15;
  font-family: Impact, sans-serif;
  font-size: 1.5rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 60px 30px;
  border-radius: 10px 0px 0px 10px;
  clip-path: polygon(100% 50%, 100% 0, 2 2, 0 100%, 80% 80%);
  cursor: pointer;
  z-index: 100;
  box-shadow: -6px 0 10px rgba(0, 0, 0, 0.3);
}

.menu-central {
  position: fixed;
  top: 50%;
  left: 30%;
  transform: translate(100%, -50%);

  width: 100%;
  background-color: #732828;
  padding: 50px 60px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.8s ease;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
}

.menu-central.activo {
  transform: translate(2%, -50%);
  opacity: 1;
  pointer-events: all;
  animation: slideIn 0.5s ease-out forwards;
}

.menu-central nav {
  display: flex;
  gap: 90px;
  justify-content: left;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  flex-wrap: wrap;
}

.menu-central nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
}

.menu-central nav a:hover {
  color: #5a1a15;
}
.sobre-mi-lateral {
  position: fixed;
  top: 15%;
  left: 0;
  transform: translateY(-50%);
  rotate: 180deg;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #732828;
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 20;
  padding: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.sobre-mi-lateral.visible {
  opacity: 0.8;
}

.sobre-mi-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 80px 40px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.sobre-foto img {
  width: 350px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.sobre-texto {
  max-width: 500px;
  color: white;
  text-align: left;
}

.sobre-texto h2 {
  font-family: "Anton", sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
}

.sobre-texto p {
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
}

@media (max-width: 768px) {
  .sobre-mi-layout {
    flex-direction: column;
    text-align: center;
  }

  .sobre-texto {
    text-align: center;
  }
}
.trabajos-lateral {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(180deg);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "inter", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #732828;
  z-index: 20;
  padding: 20px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.trabajos-lateral.visible {
  opacity: 0.8;
}

.contacto-lateral {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(180deg);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "Anton", sans-serif;
  font-size: 2.5rem;
  color: white;
  z-index: 20;
  padding: 10px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.contacto-lateral.visible {
  opacity: 0.8;
}
footer {
  background-color: #5a1a15;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  margin-top: 60px;
}

.trabajo-lateral {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "Anton", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding-left: 15px;
  z-index: 10;
}

.trabajo-detalle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 40px;
  min-height: 100vh;
}

.trabajo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  max-width: 1100px;
  color: white;
}

.trabajo-imagen img {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.trabajo-descripcion h2 {
  font-family: "Anton", sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
}

.trabajo-descripcion p {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  font-size: 1rem;
}

.autentica-lateral {
  position: fixed;
  top: 50;
  left: 0;
  transform: translateY(-50%);
  rotate: 180deg;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "Anton", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  padding-left: 20px;
  z-index: 20;
}

.documental-lateral {
  position: fixed;
  top: -15%;
  left: 0;
  transform: translateY(-50%);
  rotate: 180deg;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "Anton", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  padding-left: 20px;
  z-index: 20;
}
.trankii-lateral {
  position: fixed;
  top: 15%;
  left: 0;
  transform: translateY(-50%);
  rotate: 180deg;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "Anton", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  padding-left: 20px;
  z-index: 20;
}
